<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaxiSharing.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F05AA8CE1F8BBAB300E0A92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F05AA8E21F8BBAB300E0A92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F05AA8ED1F8BBAB300E0A92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
